@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wdth,wght@62.5..100,100..900&display=swap');

@import "tailwindcss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans Thai", sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}